<form #f="ngForm">
    <mat-form-field class="example-full-width">
        <textarea matInput type =”text” name="username" [(ngModel)]="model.username" placeholder="Username"></textarea>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea matInput type =”text” name="password" [(ngModel)]="model.password" placeholder="Password"></textarea>
      </mat-form-field>

    <input type="checkbox" name="remember" value="remember" checked> Keep Me Signed In<br><br>
   
    <button mat-raised-button color="primary" (click)="Login()">Login
    </button>
</form>

