<form #f="ngForm">
    <mat-form-field class="example-full-width">
        <input matInput type ="text" name="username" [(ngModel)]="model.username" placeholder="Username">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput type="password" name="password" [(ngModel)]="model.password" placeholder="Password">
      </mat-form-field>

    <mat-checkbox type="checkbox" name="remember" value="remember" checked> Keep Me Signed In</mat-checkbox>
   
    <button mat-raised-button color="primary" (click)="login()">Login
    </button>
</form>

