<form #frm="ngForm">
    <mat-form-field class="example-full-width">
      <input matInput #msgs type="text" name="publicststus" [(ngModel)]="model.status" #ctrl="ngModel" placeholder="Post to Public Feed">
    </mat-form-field>
</form>
<button mat-button color="primary"(click)="sendmsg()">Post</button>
<div *ngFor="let item of feed.slice().reverse()">
  <br>
  <mat-card class="example-card">
    <mat-card-title> {{item.username}} </mat-card-title>
    <mat-card-subtitle>{{item.message}}</mat-card-subtitle>
    <mat-card-actions>
        <button mat-button>Message</button>
      </mat-card-actions>
  </mat-card>

  
  <br>
</div>

