
  <div id="reg">
    <form #ngForm>
      <label>First Name</label><br>
      <input type =”text” name="firstname" [(ngModel)]="model.firstname"/><br>
      <label>Last Name</label><br>
      <input type =”text” name=”lastname” [(ngModel)]="model.lastname"/><br>
      <label>Email</label><br>
      <input type =”text” name=”demail” [(ngModel)]="model.demail"/><br>
      <label>Username</label><br>
      <input type =”text” name="username" [(ngModel)]="model.username"/><br>
      <label>Password</label><br>
      <input type ="password" name=”dpassword” [(ngModel)]="model.dpassword"/><br>
      <button>Registration</button>
    </form>
  </div>

