<app-header></app-header>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav">
    <ul>
      <li>
        <a [routerLink]="['/register']">Register</a>&emsp;
      </li>  
      <li>
        <a [routerLink]="['/login']">Login</a>&emsp;
      </li>  
      <li>
        <a [routerLink]="['/feedpublic']">Public Feed</a>&emsp;
      </li>  
      <li>
        <a [routerLink]="['/feedprivate']">Private Feed</a>&emsp;
      </li>  
      
    </ul>
      
  </mat-sidenav>

  <mat-sidenav #userData align="end" [opened]="false" mode="over" class="right-side-nav">
    <app-usersidenavview></app-usersidenavview>
  </mat-sidenav>

  <router-outlet></router-outlet>
  <app-footer></app-footer>
  
  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="sidenav.open()">
      Menu
    </button>
  </div>
  
  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="userData.open()">
      Friends
    </button>
  </div>
  
</mat-sidenav-container>


